/* Loader Animation */

@keyframes dots {
  0%,
  20% {
    content: ".";
  }
  40%,
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}

.animatedots::after {
  content: ".";
  animation: dots 1.5s infinite steps(3);
  display: inline-block;
  width: 1em;
  text-align: left;
}
